<table class="table  table-striped">
	<thead>
		<tr>
			<td></td>
			<td>#</td>
			<td>Nombre</td>
			<td>Telefono</td>
			<td>Edad</td>
			<td>Sexo</td>
			<td>Examenes</td>
			<td>Nuevo</td>
		</tr>
	</thead>
	<tbody>
		
		<tr>
			
			<td>id</td>
			<td>dni</td>
			<td>telefono</td>
			
			
			<td>
				
			</td>
			
			<td>
				<div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel"><center><b>INGRESAR PACIENTE</b></center></h4>
							</div>
							<div class="modal-body">
								
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
		
	</tbody>
</table>

